<h1 class="display-3">Person</h1>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <td>
          BusinessEntityID
        </td>
        <td>
          Name
        </td>
        <td>
          Phones
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of responsePersons">
        <td>{{person.businessEntityID}}</td>
        <td>{{person.name}}</td>
        <td><button [routerLink]="['phones/', person.businessEntityID]" class="btn btn-light" >+</button></td>
      </tr>
    </tbody>
  </table>


